body {
color: #000;
font-size: 16px;
font-weight: 400;
line-height: 1.4;
font-family: 'Nanum Gothic', sans-serif;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  position: relative;
}
header {
  width: 100%;
  background-color: #fff;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1;
}
header > .inner {
  height: 120px
}
header .inner .logo {
  position: absolute;
  height: 75px;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 20px;
}
header .main {
  position: absolute;
  height: 30px;
  top: 40px;
  right: 0;
  display: flex;
  cursor: pointer;
}
header .main ul.main_menu {
  display: flex;
  font-size: 20px;
  font-weight: 600;
}
header .main ul.main_menu li {
  width: 170px;
  top: 30px;
  bottom: 0;
  margin: auto;
  text-align: center;
}
.visual {
  width: 100%;
  height: auto;
}
.visual .title img {
  width: 100%;
  height: 650px;
}

.intro {
  margin: 50px auto;
}
.product {
  width: 100%;
  height: 600px;
  background-color: skyblue;
  position: relative;
}
.product .product-main {
  margin: 50px auto;
  background-color: skyblue;
  height: 600px;
  display: flex;

}
.product .product-main .material-symbols-outlined {
  width: 80px;
  height: 80px;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
  font-size: 80px;
}
.product .product-main .material-symbols-outlined:hover {
  color: yellow;
  transition: .3s;
  cursor: pointer;
}

footer {
  background-color: #333;
  width: 100%;
  height: 200px;
}
footer .inner {

}
footer ul.menu {
  width: 100%;
  height: 60px;
  margin: 50px 20px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;

}
footer ul.menu li {
  font-size: 14px;
  color: gray;
  margin-left: 20px;
}

